<h1>確認画面</h1>
<%= form_with(model: @user, url: confirm_new_or_edit, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <p>NAME：<%= @user.neme %></p>
  <%= form.hidden_field :content %>
  <p>Email：<%= @user.email %></p>
  <div class="image">
    <p>user_imege</p>
    <%= image_tag(@user.user_image.url) if @user.user_image && @user.user_image.url %>
  </div>
  <%= form.hidden_field :user_image_cache %>
  <%= form.hidden_field :current_user %>
  <%= form.submit "投稿する" %>
<% end %>
<%= form_with(model:@user, url:users_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :user_image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
