<h1>ユーザー編集</h1>
<% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
<p><%= notice %></p>
<%= form_with(model: @user,url: user_path, local:true) do |form| %>
  <div class="user_name">
    <%= form.label :"名前" %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="user_email">
    <%= form.label :"Email" %>
    <%= form.text_field :email %>
  </div>
  <div class="user_password">
    <%= form.hidden_field :password, value: @user.password_digest %>
  </div>
  <br>
  <div class="user_image">
    <%= form.label :"image" %>
    <%= form.file_field :user_image %>
  </div>
  <br>
  <%= form.submit "編集する" %>
<% end %>
