  <h1><%= @user.name %>のお気に入り一覧</h1>
  <div class="link">
    <%= image_tag "#{@user.user_image}", size: '200x200'%>
  </div>

    <% @favorites.each do |favorite| %>
    <div class="post">
      <% picture = Picture.find_by(id: favorite.picture_id) %>
      <%= image_tag picture.user.user_image.url, size: '50x50' %>
      <%= picture.user.name %>
      <br>
      <%= favorite.picture.title %>
      <br>
      <%= image_tag picture.image.url, size: '614x985' %>
      <br>
      <%= favorite.picture.content %>
      </div>
      <br>
    <% end %>

  <br>
  <%= link_to '投稿一覧へ', pictures_path %>
