<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>アイコン：<%=  @user.user_image %></p>
<%= link_to "編集する", edit_user_path(@user.id) %>
<%= link_to '削除する', new_session_path, method: :delete, data: { confirm: '本当に削除してもいいですか？' }%>
