<h1><%= @user.name %>のページ</h1>
<div class="profile">
  <p>メールアドレス: <%= @user.email %></p>
  <p><%=  image_tag @user.user_image.url, size: '100x100'%></p>
  <%= link_to 'お気に入り一覧', "/users/#{@user.id}/favorites" %> /
  <%= link_to "編集する", edit_user_path(@user.id) %> 
</div>
