<h1>Pictures</h1>

    <% @pictures.each do |picture| %>
        <%= picture.user.name %>
        <br>
        <%= picture.title %>
        <br>
        <%= image_tag picture.image.url, size: '400x640'%>
        <br>
        <%= picture.content %>
        <br>
        <%= l(picture.created_at, format: :short)%>
        <!-- <td><%= picture.image %></td> -->
        <br>
        <%= link_to I18n.t("helpers.select.show"), picture %>
        <%= link_to I18n.t("helpers.submit.edit"), edit_picture_path(picture) %>
        <%= link_to I18n.t("helpers.submit.destroy"), picture, method: :delete, data: { confirm: '本当に削除してもいいですか？' } %>
        <br>
        <br>
        <br>
     <% end %>
<br>

<%= link_to '新規投稿', new_picture_path %>
